.card {
  margin-bottom: 0.75rem;
  &:hover,
  &.initial {
    box-shadow: 0 5px 25px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .link-unstyled {
    color: inherit;
    text-decoration: none;
  }
  .fa-trello {
    color: #2674f2;
  }
  .fa-gitlab {
    color: #f16d26;
  }
  .card-title {
    display: inline;
  }
  .card-subtitle {
    margin-top: 0.5rem;
  }
}