{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h1>Fuse</h1>
                <p>Task List</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col col-sm-2 text-right">
                <a href="/trello/sync" class="btn btn-block btn-outline-danger">
                    <i class="fab fa-trello"></i>
                    Sync
                </a>
            </div>
            <div class="col col-sm-2 text-left">
                <a href="/gitlab/sync" class="btn btn-block btn-outline-danger">
                    <i class="fab fa-gitlab"></i>
                    Sync
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <h4>On Deck</h4>
                <div class="col-12 on-deck-list">
                    {% for task in tasks %}
                        {% if task.list|upper in ['ON DECK','BACKLOG','TO DO'] %}
                            {% include 'partials/task.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col text-center">
                <h4>In Progress</h4>
                <div class="col in-progress-list">
                    {% for task in tasks %}
                        {% if task.list|upper in ['IN PROGRESS','DOING'] %}
                            {% include 'partials/task.html.twig' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}